html, body {
    border:0px none;
    margin: 0px;
    padding:0px;
    width:100%;
    height:100%;
    font-family: sans-serif;
}
table{
    border:0px none;
    margin: 0px;
    padding:0px;
    border-collapse: collapse;
    table-layout: fixed;    
}
html {
	background:rgb(32,32,32);
}
body {
	width:100%;
	margin-left:auto;
	margin-right:auto;
    height:100%;
}
img.logo {
	position:absolute;
    left:10px;
	top:10px;
}
img.graphic {
    position:absolute;
    top:0px;
    right:0px;
}
div.body {
    background:url("/img/tile.png");
	width:100%;
	position:relative;
}
table.body{
	width:100%;
}
table.body td {
	vertical-align: top;
}
table.body th{
    height:100px;
    background:rgb(192,192,192);
    border-bottom:1px solid black;
}
col.body-nav-col{
	width:130px;
}
col.body-body-col{
	width:auto;
}
tr.layer {
	background-image:url("/img/layer.png");
	height:50px;
}
tr.body-row {
	background-image:url("/img/background.png");
}
tr.body-footer {
/*
    background-image:url("/img/footer.png");
*/
    border-top:1px solid rgba(0,0,0,.5);
    background:rgb(32,32,32);
	height:100px;
    color: #666;
    font-size: 10px;
}
/*
    navigator 
*/
td.navigator{
    background:rgb(225,225,225);
    border-right:1px solid black;
    font-size:14px;
}
td.navigator h2{
    font-size:16px;
    font-weight:bold;
    color:#50A;
    margin:0px;
    padding: 5px 0px 5px 5px;
}
td.navigator list{
    display:inline-block;
    padding:0px 0px 20px 10px;

}

/* 
    body 
*/
td.body-frame{
    height:100%;
    background: white;
    box-shadow: 2px 2px 2px black inset;
}
div.body-content {
    padding: 20px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    font-family:serif;
    font-size:14px;
    text-align:justify;
    height:100%;
}
div.body-content h1 {
    font-family:sans-serif,helvetica,arial;
    font-size:18px;
    color:#0F0;
    margin-bottom:5px;
}
div.body-content h2 {
    font-family:sans-serif,helvetica,arial;
    font-size:16px;
    font-weight:bold;
    color:#0A0;
    margin-bottom:5px;
}
fieldset {
    border-radius:10px;
    border:1px solid #AFA;
    width:inherit;
    display: inline-block;
}
legend {
    font-family: sans-serif;
    font-weight: bold;
    color:#060;
}
button{
    border:1px solid #AFA;
    border-radius: 10px;
    color:#060;
    background:#FFF;
}
button:hover{
    background:#EFE;
    cursor: pointer;
}
td.right{
    text-align: right;
}
a {
    color:#0A0;
}
a:hover{
    color:#0F0;
}
/*
    Error Box
*/
#body-errors{
    border: 1px dashed #F00;
    background: #FFE0F0;
    color: #C00;
    margin: 30px auto 10px auto;
    width: 260px;
    text-align: left;
    padding: 15px;
}
#body-errors ul {
    color:#F00;
}
/*
    Grids
*/
.ui-state-hover {
    border:0px none;
}
.deleteButton {
    color: red;
    border: 1px solid red;
    background: rgba(255,0,0,.2);
    padding: 0px;
}
.deleteButton:hover {
    background: rgba(255,0,0,.5);
}
.buttonToolbar{
    text-align: right;
}
.ui-jqgrid tr.ui-row-ltr td.centered {
    text-align: center;
}